.test {
    width: 100%;
    border-radius: 0.8rem;
    border: 2px solid var(--bg-color);
    /* margin-top: 3rem; */
}

.wrapper {
    padding: 1rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileImage {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.namedateWrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.userName {
    font-size: 1.2rem;
    font-weight: 500;
}

.date {
    font-size: 0.8rem;
    font-weight: 300;
}

.center {
    margin: 1.5rem 0;
}

.text {
    display: block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* margin: 0 1rem; */
}

.image {
    width: 100%;
    margin-top: 1rem;
    object-fit: contain;
    max-height: 33rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 1rem; */
    font-size: 0.95rem;
}

.heart{
    color: var(--bg-notification);
}

.bottomLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bottomLeft>svg {
    font-size: 1.8rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
}

.pass{
    color: var(--white);
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 0.4rem;
    transition: var(--transition);
}

.pass:hover{
    color: var(--bg-color);
    border-color: var(--bg-color);
}