.sidebar__container{
    height: calc(100vh - var(--topbar-height) );
    overflow-y: scroll;
    position: sticky;
    top: var(--topbar-height);
}

.sidebar__wrapper{
    padding: 2rem;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar__listItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: var(--transition);
    padding: 0.5rem;
    border-radius: 0.7rem;
    color: white;
}

.sidebar__listItem:hover{
    background-color: var(--bg-color);
    transform: scale(1.05);
}

.sidebar__listItem:active{
    transform: translateY(0.1rem)
}

.sidebar__hr{
    margin: 2rem 0;
    height: 2px;
    background-color: var(--bg-color);
}

.sidebar__friendList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


::-webkit-scrollbar{
    width: 0.3rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bg-color-contrast);
    
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}